.container{
    padding: 10px 10px 50px 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: 'Open Sans Condensed', sans-serif;

}

.search{
    padding: 25px 15px;
    text-align:  center;
}
select{
    margin-right: 15px;
    padding: 2.5px 0 8.5px ;

}
input{
    padding: 2px 4px 6px ;
}
#search{
    background-color: rgba(255, 127, 80, 0.422);
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}
label{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-right: 5px;

}

section{
    padding: 5px;
    margin-top: 0;
}
.details{
    margin-right: 10px;
    padding: 5px;
    background-color: rgba(135, 164, 216, 0.7);
}
.buy{
    margin-left: 10px;
    padding: 5px 15px;
    background-color: rgba(25, 171, 25, 0.374);
}
.age{
    font-size: 12px;
}
.image{
    padding: 10px;
    width: 100%;
    margin-bottom: auto;
}
.phone-desc {
    margin-bottom: auto;
    padding-bottom: 10px;
    margin-top: auto;
}
.buttons-group {
    margin-top: auto;
    margin-bottom: 10px;
}
.phone-item{
    display:flex;
    flex-direction: column;
    border: solid 0.5px rgba(74, 74, 84, 0.265);
    text-align: center;
    padding-top: 10px;
    height: 100%;
}
a{
    font-size: 22px;
    color: black;
}
p{
    padding: 0 6px;
    text-align: justify;
    margin-bottom: 0;
}
@media screen and (max-width: 993px){
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }

}
@media screen and (max-width: 768px){
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
    }
    ul{
        padding: 0;
    }
}
@media screen and (max-width: 360px){

.search{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;

}
#search{
    width: 88%;
    margin: 0;
    padding: 5px;
}

input{
    width: 88%;
}
}
